n8n_workflow_merino.json
{
  "name": "MERINO - Lead & Estimation Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merino-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000001-0001-0001-0001-000000000001",
      "name": "Webhook MERINO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "webhookId": "merino-lead-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "aa000001-cond-0001",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "REMPLACER_PAR_VOTRE_SECRET",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0002-0002-0002-000000000002",
      "name": "Vérifier Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "aa000001-0003-0003-0003-000000000003",
      "name": "Refuser 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-160, 500]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un expert en estimation immobilière sur le Grand Nancy (Meurthe-et-Moselle, France). Tu connais les prix du marché local 2024-2025. Réponds UNIQUEMENT avec un JSON valide sur une seule ligne, sans markdown, sans explication : {\"prixBas\": number, \"prixHaut\": number, \"commentaire\": string}. Le commentaire : une phrase courte (max 20 mots) pertinente sur le bien ou le marché."
            },
            {
              "role": "user",
              "content": "={{ 'Bien à estimer : Type=' + $('Webhook MERINO').first().json.body.type + ', Surface=' + $('Webhook MERINO').first().json.body.surface + 'm², Adresse=' + $('Webhook MERINO').first().json.body.adresse + ', Chambres=' + ($('Webhook MERINO').first().json.body.chambres ?? 'non renseigné') + ', État intérieur=' + $('Webhook MERINO').first().json.body.etatInterieur + '/5, État parties communes=' + ($('Webhook MERINO').first().json.body.etatCommuns ?? 'N/A') + '/5, Année construction=' + ($('Webhook MERINO').first().json.body.anneeConstruction ?? 'non renseignée') + ', Balcon=' + ($('Webhook MERINO').first().json.body.surfaceBalcon ?? 0) + 'm², Terrasse=' + ($('Webhook MERINO').first().json.body.surfaceTerrasse ?? 0) + 'm², Jardin=' + ($('Webhook MERINO').first().json.body.surfaceJardin ?? 0) + 'm², Parking intérieur=' + ($('Webhook MERINO').first().json.body.statInterieur ?? 0) + ', Parking extérieur=' + ($('Webhook MERINO').first().json.body.statExterieur ?? 0) + '.' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 400
        }
      },
      "id": "aa000001-0004-0004-0004-000000000004",
      "name": "Claude Haiku - Estimation",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [80, 300],
      "credentials": {
        "anthropicApi": {
          "id": "SvRUQt6O0bdDgD2d",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parser la réponse de Claude + récupérer les données du lead\nconst claudeRaw = $input.first().json.text;\nconst lead = $('Webhook MERINO').first().json.body;\n\nlet estimation;\ntry {\n  const clean = claudeRaw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  estimation = JSON.parse(clean);\n} catch (e) {\n  estimation = { prixBas: 0, prixHaut: 0, commentaire: 'Estimation à affiner avec nos experts.' };\n}\n\nconst formatPrice = (p) => new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR', maximumFractionDigits: 0 }).format(p);\n\nreturn [{\n  json: {\n    // Estimation Claude\n    prixBas: estimation.prixBas,\n    prixHaut: estimation.prixHaut,\n    prixBasFmt: formatPrice(estimation.prixBas),\n    prixHautFmt: formatPrice(estimation.prixHaut),\n    commentaire: estimation.commentaire,\n    // Lead\n    prenom: lead.prenom,\n    nom: lead.nom,\n    email: lead.email,\n    telephone: lead.telephone,\n    type: lead.type,\n    adresse: lead.adresse,\n    surface: lead.surface,\n    chambres: lead.chambres,\n    anneeConstruction: lead.anneeConstruction,\n    etatInterieur: lead.etatInterieur,\n    etatCommuns: lead.etatCommuns,\n    surfaceBalcon: lead.surfaceBalcon ?? 0,\n    surfaceTerrasse: lead.surfaceTerrasse ?? 0,\n    surfaceJardin: lead.surfaceJardin ?? 0,\n    statInterieur: lead.statInterieur ?? 0,\n    statExterieur: lead.statExterieur ?? 0,\n    agent: lead.agent ?? 'jordane',\n    agentNom: (lead.agent === 'louis') ? 'Louis PETITCOLIN' : 'Jordane MOREL',\n    agentEmail: (lead.agent === 'louis') ? 'louis@agencemerino.com' : 'jordane@agencemerino.com',\n    agentTel: (lead.agent === 'louis') ? '+33 7 59 59 92 97' : '+33 6 95 06 73 20',\n    soumisLe: new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' })\n  }\n}];"
      },
      "id": "aa000001-0005-0005-0005-000000000005",
      "name": "Parser Réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REMPLACER_PAR_ID_GOOGLE_SHEET",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.soumisLe }}",
            "Prénom": "={{ $json.prenom }}",
            "Nom": "={{ $json.nom }}",
            "Email": "={{ $json.email }}",
            "Téléphone": "={{ $json.telephone }}",
            "Type": "={{ $json.type }}",
            "Adresse": "={{ $json.adresse }}",
            "Surface": "={{ $json.surface }}",
            "Chambres": "={{ $json.chambres ?? '' }}",
            "Année construction": "={{ $json.anneeConstruction ?? '' }}",
            "État intérieur": "={{ $json.etatInterieur }}",
            "État communs": "={{ $json.etatCommuns ?? '' }}",
            "Balcon m²": "={{ $json.surfaceBalcon }}",
            "Terrasse m²": "={{ $json.surfaceTerrasse }}",
            "Jardin m²": "={{ $json.surfaceJardin }}",
            "Parking int.": "={{ $json.statInterieur }}",
            "Parking ext.": "={{ $json.statExterieur }}",
            "Agent": "={{ $json.agent }}",
            "Prix bas": "={{ $json.prixBas }}",
            "Prix haut": "={{ $json.prixHaut }}",
            "Commentaire IA": "={{ $json.commentaire }}",
            "Source": "claude"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "aa000001-0006-0006-0006-000000000006",
      "name": "Google Sheets - Stocker Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [600, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K4fNPe9eHdsVJfnX",
          "name": "GOOGle compte entreprise"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Génère le contenu HTML des deux emails (agent + client)\nconst d = $input.first().json;\n\n// ── EMAIL AGENT (notification interne) ──────────────────────────────\nconst subjectAgent = `🏠 Nouveau lead – ${d.prenom} ${d.nom} – ${d.type} ${d.surface}m²`;\nconst htmlAgent = `\n<!DOCTYPE html><html><body style=\"margin:0;font-family:Arial,sans-serif;background:#f3f4f6\">\n<div style=\"max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;\">\n  <div style=\"background:#1a3a5c;padding:24px\">\n    <h1 style=\"color:white;margin:0;font-size:20px\">🏠 Nouveau lead MERINO</h1>\n    <p style=\"color:rgba(255,255,255,.7);margin:6px 0 0;font-size:13px\">${d.soumisLe}</p>\n  </div>\n  <div style=\"padding:24px\">\n    <h2 style=\"color:#1a3a5c;font-size:15px;border-bottom:2px solid #f97316;padding-bottom:6px\">Contact</h2>\n    <p style=\"margin:6px 0\"><strong>Nom :</strong> ${d.prenom} ${d.nom}</p>\n    <p style=\"margin:6px 0\"><strong>Email :</strong> <a href=\"mailto:${d.email}\">${d.email}</a></p>\n    <p style=\"margin:6px 0\"><strong>Tél :</strong> <a href=\"tel:${d.telephone}\">${d.telephone}</a></p>\n    <h2 style=\"color:#1a3a5c;font-size:15px;border-bottom:2px solid #f97316;padding-bottom:6px;margin-top:20px\">Bien</h2>\n    <p style=\"margin:6px 0\"><strong>Type :</strong> ${d.type}</p>\n    <p style=\"margin:6px 0\"><strong>Adresse :</strong> ${d.adresse}</p>\n    <p style=\"margin:6px 0\"><strong>Surface :</strong> ${d.surface}m²</p>\n    <p style=\"margin:6px 0\"><strong>Chambres :</strong> ${d.chambres ?? 'NR'}</p>\n    <p style=\"margin:6px 0\"><strong>Année :</strong> ${d.anneeConstruction ?? 'NR'}</p>\n    <p style=\"margin:6px 0\"><strong>État int. :</strong> ${d.etatInterieur}/5 · Communs : ${d.etatCommuns ?? 'N/A'}/5</p>\n    <p style=\"margin:6px 0\"><strong>Extérieurs :</strong> Balcon ${d.surfaceBalcon}m² · Terrasse ${d.surfaceTerrasse}m² · Jardin ${d.surfaceJardin}m²</p>\n    <p style=\"margin:6px 0\"><strong>Parking :</strong> ${d.statInterieur} int. / ${d.statExterieur} ext.</p>\n    <h2 style=\"color:#1a3a5c;font-size:15px;border-bottom:2px solid #f97316;padding-bottom:6px;margin-top:20px\">Estimation IA (Claude Haiku)</h2>\n    <div style=\"background:#f0f9ff;padding:16px;border-radius:8px;border-left:4px solid #f97316\">\n      <p style=\"font-size:22px;font-weight:bold;color:#1a3a5c;margin:0\">${d.prixBasFmt} — ${d.prixHautFmt}</p>\n      <p style=\"color:#6b7280;margin:6px 0 0;font-style:italic;font-size:13px\">${d.commentaire}</p>\n    </div>\n  </div>\n</div></body></html>`;\n\n// ── EMAIL CLIENT ─────────────────────────────────────────────────────\nconst subjectClient = `Votre estimation MERINO – ${d.type} à ${d.adresse.split(',')[0]}`;\nconst htmlClient = `\n<!DOCTYPE html><html><body style=\"margin:0;font-family:Arial,sans-serif;background:#f3f4f6\">\n<div style=\"max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;\">\n  <div style=\"background:#1a3a5c;padding:32px 24px;text-align:center\">\n    <h1 style=\"color:white;margin:0;font-size:26px\">Votre estimation est prête</h1>\n    <p style=\"color:rgba(255,255,255,.7);margin:8px 0 0\">MERINO Immobilier · Grand Nancy</p>\n  </div>\n  <div style=\"padding:32px 24px\">\n    <p style=\"font-size:16px;color:#374151\">Bonjour <strong>${d.prenom}</strong>,</p>\n    <p style=\"color:#6b7280\">Voici la fourchette de marché estimée pour votre <strong>${d.type}</strong> situé au <strong>${d.adresse}</strong> :</p>\n    <div style=\"background:linear-gradient(135deg,#f0f9ff,#e0f2fe);padding:28px;border-radius:12px;text-align:center;margin:24px 0;border:1px solid #bae6fd\">\n      <p style=\"color:#64748b;font-size:12px;text-transform:uppercase;letter-spacing:1px;margin:0 0 8px\">Fourchette estimée</p>\n      <p style=\"font-size:30px;font-weight:800;color:#1a3a5c;margin:0\">${d.prixBasFmt}</p>\n      <p style=\"font-size:14px;color:#94a3b8;margin:4px 0\">à</p>\n      <p style=\"font-size:30px;font-weight:800;color:#1a3a5c;margin:0\">${d.prixHautFmt}</p>\n      <p style=\"color:#f97316;font-style:italic;font-size:13px;margin:12px 0 0\">${d.commentaire}</p>\n    </div>\n    <p style=\"color:#6b7280;font-size:14px\">Cette estimation est indicative. Je vous rappelle sous 24h pour organiser une visite et vous proposer une évaluation complète.</p>\n  </div>\n</body></html>`;\n\nreturn [{\n  json: {\n    // Agent\n    subjectAgent,\n    htmlAgent,\n    emailAgent: d.agentEmail,\n    // Client\n    subjectClient,\n    htmlClient,\n    emailClient: d.email,\n    // Forward les données pour les noeuds suivants\n    ...d\n  }\n}];"
      },
      "id": "aa000001-0007-0007-0007-000000000007",
      "name": "Générer Contenu Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "fromEmail": "jordane@agencemerino.com",
        "toEmail": "={{ $json.emailAgent }}",
        "subject": "={{ $json.subjectAgent }}",
        "emailFormat": "html",
        "message": "={{ $json.htmlAgent }}",
        "options": { "appendAttribution": false }
      },
      "id": "aa000001-0008-0008-0008-000000000008",
      "name": "Email Agent MERINO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [860, 180],
      "credentials": {
        "smtp": {
          "id": "DnUbjKpPkd3QpB7d",
          "name": "CompteAgenceMerinoPastouché"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.agent === 'louis' ? 'REMPLACER_PHOTO_FILE_ID_LOUIS' : '1O-nR69A2Yni4mawAPGK2MOBZpULvp_Bc' }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "aa000001-0009-0009-0009-000000000009",
      "name": "Google Drive - Photo Agent",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [860, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K4fNPe9eHdsVJfnX",
          "name": "GOOGle compte entreprise"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Adapté de ton SetFooter existant — supporte jordane et louis\nconst emailData = $('Générer Contenu Emails').first().json;\nconst fileId = $input.item.json.id ||\n  (emailData.agent === 'louis' ? 'REMPLACER_PHOTO_FILE_ID_LOUIS' : '1O-nR69A2Yni4mawAPGK2MOBZpULvp_Bc');\n\nconst isLouis = emailData.agent === 'louis';\nconst agentInfo = isLouis\n  ? { name: 'Louis PETITCOLIN', phone: '+33 7 59 59 92 97', email: 'louis@agencemerino.com' }\n  : { name: 'Jordane MOREL',    phone: '+33 6 95 06 73 20', email: 'jordane@agencemerino.com' };\n\nconst firstName = agentInfo.name.split(' ')[0];\nconst lastName  = agentInfo.name.split(' ').slice(1).join(' ');\nconst photoUrl  = `https://drive.google.com/uc?id=${fileId}&export=view`;\n\nconst footerHtml = `\n  <hr style=\"margin-top:32px;border:none;border-top:1px solid #ddd\">\n  <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n         style=\"width:100%;max-width:600px;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#333;line-height:1.4\">\n    <tr>\n      <td style=\"width:90px;vertical-align:top;padding-right:10px\">\n        <img src=\"${photoUrl}\" alt=\"${agentInfo.name}\" width=\"80\" height=\"80\"\n             style=\"display:block;border-radius:50%;border:3px solid #57728c;max-width:80px\">\n      </td>\n      <td style=\"width:220px;vertical-align:top;padding-right:15px\">\n        <p style=\"margin:0 0 4px;font-size:15px;line-height:1.3\">\n          <span style=\"font-weight:normal\">${firstName}</span>\n          <strong style=\"color:#44556e;font-weight:bold\">${lastName}</strong>\n        </p>\n        <p style=\"margin:0 0 2px;font-size:13px;color:#666\">Agent immobilier</p>\n        <p style=\"margin:0;font-size:13px;color:#666\">Co-fondateur | Merino</p>\n      </td>\n      <td style=\"vertical-align:top;padding-left:15px;border-left:2px solid #ddd\">\n        <p style=\"margin:0 0 6px;font-size:13px\">\n          <a href=\"tel:${agentInfo.phone.replace(/\\s/g,'')}\" style=\"color:#333;text-decoration:none\">${agentInfo.phone}</a>\n        </p>\n        <p style=\"margin:0 0 6px;font-size:13px\">\n          <a href=\"mailto:${agentInfo.email}\" style=\"color:#57728c;text-decoration:none\">${agentInfo.email}</a>\n        </p>\n        <p style=\"margin:0 0 6px;font-size:13px\">\n          <a href=\"https://www.agencemerino.com\" style=\"color:#57728c;text-decoration:none\">www.agencemerino.com</a>\n        </p>\n        <p style=\"margin:0;font-size:13px;color:#666\">171 Rue de Newcastle, 54000 Nancy</p>\n      </td>\n    </tr>\n  </table>\n`;\n\nreturn [{ json: { footerHtml } }];"
      },
      "id": "aa000001-0010-0010-0010-000000000010",
      "name": "SetFooter Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "fromEmail": "jordane@agencemerino.com",
        "toEmail": "={{ $('Générer Contenu Emails').first().json.emailClient }}",
        "subject": "={{ $('Générer Contenu Emails').first().json.subjectClient }}",
        "emailFormat": "html",
        "message": "={{ $('Générer Contenu Emails').first().json.htmlClient.replace(/<\\/body\\s*>/i, $('SetFooter Agent').first().json.footerHtml + '</body>') }}",
        "options": { "appendAttribution": false }
      },
      "id": "aa000001-0011-0011-0011-000000000011",
      "name": "Email Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 400],
      "credentials": {
        "smtp": {
          "id": "DnUbjKpPkd3QpB7d",
          "name": "CompteAgenceMerinoPastouché"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ prixBas: $('Parser Réponse Claude').first().json.prixBas, prixHaut: $('Parser Réponse Claude').first().json.prixHaut, commentaire: $('Parser Réponse Claude').first().json.commentaire }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "aa000001-0012-0012-0012-000000000012",
      "name": "Répondre au Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 180]
    }
  ],
  "connections": {
    "Webhook MERINO": {
      "main": [
        [{ "node": "Vérifier Secret", "type": "main", "index": 0 }]
      ]
    },
    "Vérifier Secret": {
      "main": [
        [{ "node": "Claude Haiku - Estimation", "type": "main", "index": 0 }],
        [{ "node": "Refuser 401", "type": "main", "index": 0 }]
      ]
    },
    "Claude Haiku - Estimation": {
      "main": [
        [{ "node": "Parser Réponse Claude", "type": "main", "index": 0 }]
      ]
    },
    "Parser Réponse Claude": {
      "main": [
        [
          { "node": "Répondre au Webhook", "type": "main", "index": 0 },
          { "node": "Google Sheets - Stocker Lead", "type": "main", "index": 0 },
          { "node": "Générer Contenu Emails", "type": "main", "index": 0 }
        ]
      ]
    },
    "Générer Contenu Emails": {
      "main": [
        [
          { "node": "Email Agent MERINO", "type": "main", "index": 0 },
          { "node": "Google Drive - Photo Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Drive - Photo Agent": {
      "main": [
        [{ "node": "SetFooter Agent", "type": "main", "index": 0 }]
      ]
    },
    "SetFooter Agent": {
      "main": [
        [{ "node": "Email Client", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets - Stocker Lead": { "main": [[]] },
    "Email Agent MERINO": { "main": [[]] },
    "Email Client": { "main": [[]] },
    "Répondre au Webhook": { "main": [[]] },
    "Refuser 401": { "main": [[]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "223514caa351ca4e46c3b7978d620dbcf7cb412efd0057cb31ea7ffade5c8b3e"
  },
  "id": "merino-lead-workflow",
  "tags": [{ "name": "MERINO" }]
}
